#SUPPLY
# R Supply files and folders
Supply/.Rproj.user
Supply/.Rhistory
Supply/.RData
Supply/.Ruserdata
Supply/Scripts/.RHistory
Supply/Experimental/.RHistory

# ignoring Supply data files
Supply/WebData/*
Supply/ProcessedData/*
Supply/InputData/*.gag
.Rproj.user

#DEMAND
# R Demand files and folders
Demand/.Rproj.user
Demand/.Rhistory
Demand/.RData
Demand/.Ruserdata
Demand/Scripts/.RHistory

# ignoring Demand data files
Demand/RawData/*
Demand/IntermediateData/*
