# R files and folders
Supply/.Rproj.user
Supply/.Rhistory
Supply/.RData
Supply/.Ruserdata
Supply/Scripts/.RHistory
Supply/Experimental/.RHistory

# ignoring data files
Supply/WebData/
Supply/ProcessedData/
Supply/InputData/*.gag
.Rproj.user
