# Git Ignore Reference Doc
# https://git-scm.com/docs/gitignore

# Ignore Various R files
.Rproj.user
**/.Rproj.user
**/.Rhistory

# Ignore any Python-related "pycache" directory too
**/__pycache__/**


# In the workflow folders, ignore files in the "Intermediate", "Output", and "Workflow_Bin" folders
**/Intermediate/**
**/Output/**
**/Workflow_Bin/**

# However, do not ignore the actual folders themselves
!**/Intermediate
!**/Output
!**/Workflow_Bin


# In the LSPC model folder, ignore log files
Models/LSPC/*.log


# In the Archive folder, ignore file download and processing contents
**/WebData/**
**/ProcessedData/**
**/RawData/**
**/IntermediateData/**
**/OutputData/**

# Do not ignore these folders though
!**/WebData
!**/ProcessedData
!**/RawData
!**/IntermediateData
!**/OutputData


# Finally, do not ignore any .gitkeep file
!**/.gitkeep
